		<!--Footer start-->
        <div class="footer">
            <!--Footer here-->
        </div>



        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
		<script type="text/javascript" src="javascripts/homePageController.js"> </script>
    
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB9dp3DrZ6F_8Ce8y0UvL3Tqo-o8Ge-TU&callback=initMap"
    async defer></script>
    </body>
</html>
