<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="vm.user.name" required/>
            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block"> Name is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.nric.$dirty && form.nric.$error.required }">
            <label for="nric">NRIC</label>
            <input type="text" name="nric" id="nric" class="form-control" ng-model="vm.user.nric"
                    required/>
            <span ng-show="form.nric.$dirty && form.nric.$error.required" class="help-block">NRIC is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="vm.user.email" required/>
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.contact.$dirty && form.contact.$error.required }">
            <label for="contact">Contact</label>
            <input type="text" name="contact" id="contact" class="form-control" ng-model="vm.user.contact"
                   required/>
            <span ng-show="form.contact.$dirty && form.contact.$error.required"
                  class="help-block">Contact is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.dob.$dirty && form.dob.$error.required }">
            <label for="dob">Date of Birth<br></label>
            <md-datepicker ng-model="vm.user.dob" md-placeholder="Enter date" md-open-on-focus
                           md-current-view="year"></md-datepicker>
            <span ng-show="form.dob.$dirty && form.dob.$error.required"
                  class="help-block">Date of Birth is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password"
                   required/>
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Confirm Password</label>
            <input type="password" name="cpassword" id="cpassword" class="form-control" ng-model="vm.user.cpassword"
                   required/>
            <span ng-show="(vm.user.password!='' && vm.user.cpassword!='') && (vm.user.password != vm.user.cpassword)"
                  class="help-block">Passwords do not match!</span>
        </div>

        <div class="form-actions" align="right">
            <md-button md-no-ink ng-href="#!/login" class="md-primary">Cancel</md-button>
            <img ng-if="vm.dataLoading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            <md-button type="submit"
                       ng-disabled="form.$invalid || vm.dataLoading || (vm.user.password!='' && vm.user.cpassword!='') && (vm.user.password != vm.user.cpassword)"
                       class="md-raised md-primary">Register
            </md-button>
        </div>
    </form>
</div>
