body{
    background-image: linear-gradient(0deg,rgba(170,170,170,0.3),rgba(170,170,170,0.9)),url('../pics/map_bg.png');
    background-size: cover;
}

#sidebar{
	background: rgb(63,81,181);
	box-shadow: 3px 3px 2px #595757;
}
#logo{
	width:100%;
	padding:20px;
}
.search-box {
    height: 80%;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.2);
}
.ng-scope{
	color:white;
}
#map{
	color:#606060;
}
.media-body {
    padding: 5px;
    color: #606060;
    min-height:180px;
    border:0px;
    border-bottom:1px solid #bcbcbc;
}

.map-box{
	padding:0px;
	border-left:1px solid #bcbcbc;
}