body{
    background-image: linear-gradient(0deg, rgba(110, 110, 110, 0.3), rgba(110, 110, 110, 0.9)),url('../pics/map_bg.png');
    background-size: cover;
}

#sidebar{
	background: rgb(63,81,181);
	box-shadow: 3px 3px 2px #595757;
}
#logo{
	width:100%;
	padding:20px;
}
.search-box {
    height: 70%;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.2);
}
.ng-scope{
	color:white;
}
#map{
	color:#606060;
}
.media-body {
    padding: 5px;
    color: #606060;
    min-height:180px;
    border:0px;
    border-bottom:1px solid #bcbcbc;
    height:auto;
}

.map-box{
	padding:0px;
	border-left:1px solid #bcbcbc;
}

table,form,.review-box{
    background: rgba(0,0,0,0.4);
    padding:20px;
}
.review-box{
    color:white;
}
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th{
    background:none;
}
.container-fluid{
    background:none;
    box-shadow:none;
}
.sidebar-button.md-button{
    min-width: 60px;
    margin: 0px;
}
.search-box{
    width:100%;
}
#content{
    overflow: scroll;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        position:absolute;
        
    }

    #sidebar.active {
        margin-left: 0;
        width:80%;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: 100%;
    }
    #sidebarCollapse span {
        display: none;
    }
    #content.active .navbar-header{
        width: calc(100% - 80%);
        margin-left:80%;
    }
}