<div>
	<h2> Patients in Queue </h2>
	<table class="table table-hover">
		<thead>
			<tr>
			  <th scope="col">id</th>
			  <th scope="col">Name</th>
			  <th scope="col">Queue No</th>
			</tr>
		</thead>
		<tbody>
 
		  <tr ng-repeat="patient in patientList">
			<td style="width:10%;" ng-model="userId" class="text-right" title="'Patient NRIC'"
				filter="{userId:'number'}" sortable="'userId'">
				{{patient.userId}}
			</td>
			
			<td style="width:20%;" class="text-left" title="'Patient Name'"
				filter="{name:'text'}" sortable="'name'">
				{{patient.name}}
			</td>
			<td style="width:10%;" class="text-left" title="'Queue No.'"
				filter="{name:'text'}" sortable="'queNo'">
				{{patient.queNo}}
			</td>
			
            <td>
            	<div ng-if="patient.status == 'visited'">
				    Visited
				</div>
				<div ng-if="patient.status != 'visited'">
				    <md-button type="button" ng-click="unqueue(patient._id)" class="md-raised">Unqueue</md-button>
					<md-button type="button" ng-click="notify(patient._id)" class="md-raised">Notify</md-button>
					<md-button type="button" ng-click="mark_visit(patient._id)" class="md-raised">Mark Visited</md-button>
				</div>

				
				
            </td>
      		
		  </tr>
		</tbody>
	</table>
	
</div>	
